body {
    background-color: #0184ff;
}

header {
    color: rgb(143, 223, 255);
    font-size: 30px;
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
}