* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #0184ff;
}

header {
    background-color: rgb(205, 243, 255);
    color: rgb(51, 175, 224);
    font-size: 30px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: solid 2px;
    padding: 20px;
    box-shadow: 0 0 70px rgb(255, 255, 255);
}

header {

}

h1 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chamada{
    display: flex;
    justify-content: center;
}